@rendermode InteractiveServer

<style>
    .dock {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(132, 129, 129, 0.319);
        padding: 1vw;
        transition: all .4s ease-in-out;
        display: flex;
        flex-direction: row !important;
        gap: 10px;
        border-radius: 10px;
        backdrop-filter: blur(10px) !important;
        z-index: 99999;
    }

    .dock:hover {
        transform: translateX(-50%) translateY(-20%) scale(1.2);
        backdrop-filter: blur(25px) !important;
        bottom: 0% !important;
        gap: 2vw;
    }

    .dock img {
        height: 30px;
        width: 30px;
        transition: all .2s ease-in-out;

        @* &:not(:hover) {} *@
    }

    .dock img:hover {
        transform: scale(2.5) translateX(2px) translateY(-7px);
        transition: all .3s ease-in-out;
        margin-right: 2vw;
        margin-left: 2vw;
    }

    .trash {
        border-left: 2px solid white !important;
        margin-left: 2px !important;
    }

    .app-window {
        position: absolute;
        bottom: 0;
        transform: translate(-50%, 50%) scale(0);
        opacity: 0;
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
        border-radius: 10px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
        z-index: -1;
    }

    .active {
        bottom: unset;
        top: 1% !important;
        transform: translate(-50%, 0) scale(1);
        opacity: 1;
        z-index: 100;
    }

    .swoop-out {
        top: unset !important;
        transform: translate(-50%, 50%) scale(0);
        opacity: 0;
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }
</style>

<span class="dock">
    @foreach (var apps in application.app)
    {
        <span>
            <img src="@apps.AppIcon" alt="@apps.ApplicationName" @onclick="() => OpenApp(apps)">
        </span>
    }
    <span class="trash">
        <img src="/image/trash.png" alt="Trash">
    </span>
</span>

@foreach (var openApp in OpenedApps)
{
    <div class="app-window @(openApp.IsApplicationOpen ? "active" : "swoop-out")">
        <DynamicComponent Type="openApp.ComponentType" />
    </div>
}


@code {
    public List<macOs.Applications.Application> OpenedApps = new();

    public async void OpenApp(macOs.Applications.Application app)
    {
        if (!OpenedApps.Contains(app))
        {
            OpenedApps.Add(app);
            app.IsApplicationOpen = true;
            await InvokeAsync(StateHasChanged);
            Console.WriteLine($"App Opened: {app.ApplicationName}");
        }
        else
        {
            OpenedApps.Remove(app);
            app.IsApplicationOpen = false;
            await InvokeAsync(StateHasChanged);
            Console.WriteLine(@$"{app.ApplicationName} is closed");
        }
    }

    public async void CloseApp(macOs.Applications.Application app)
    {
        Console.WriteLine("function has been called weeeeeeee");

        if (OpenedApps.Contains(app))
        {
            app.IsApplicationOpen = false;
            await InvokeAsync(StateHasChanged);
            await Task.Delay(300);
            OpenedApps.Remove(app);
            Console.WriteLine($@"{app.ApplicationName} closeddddddddd !!!!!!!!!!!!!!!!!!!!!!!!!!!!!");
            await InvokeAsync(StateHasChanged);
        }
    }
}