@inherits LayoutComponentBase
@using macOs.Components.Layout

<style>
   
   
</style>

<div class="main-layout">
    <Menubar />
    <div class="desktop">
        @Body
    </div>
    <Dock />
</div>

