@inherits LayoutComponentBase

<div class="main-layout">
    <div id="menubar">
        <Menubar />
    </div>
    <div class="desktop">
        @Body
    </div>
    <div id="dock">
        <Dock />
    </div>
</div>
