@inherits LayoutComponentBase
@using macOs.Components.Layout

<div class="main-layout">
    <Menubar />
    <div class="desktop">
        @Body
    </div>
    <Dock />
</div>

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .main-layout {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }

    .desktop {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
</style>