@* @rendermode InteractiveServer *@

<head>
    <style>
        .body {
            position: absolute;
            top: 0;
            left: 0;
            padding: 1vw;
            background-color: rgba(0, 0, 0, 0.92);
            color: aliceblue;
            @* border: 2px solid red; *@
            height: 15px;
            width: 100%;
        }
    </style>
</head>
<div class="body">
    <span class="about"></span>

</div>