@page "/LibrarianDashboard"

<head>
    <title>Librarian Dashboard</title>
</head>

<style>
    body {
        background-color: black;
        color: white;
    }
</style>


<body>
    <h1>Librarian Dashboard</h1>
</body>