@page "/LibrarianDashboard"

@using LibaryManagementSystem.Services
@inject Librarian librarian

<head>
    <title>Librarian Dashboard</title>
</head>

<style>
    body {
        background-color: black;
        color: white;
        margin: 0;
        padding: 0;
        height: 100vh;

        h1 {
            text-align: center;
            position: fixed;
            top: 2%;
            left: 40%;
            margin: 2vw;
            z-index: 1 !important;
        }

        h3 {
            text-align: center;
            position: fixed;
            top: 7%;
            left: 40%;
            margin: 2vw;
            z-index: 1 !important;

        }

        .dashboardHolder {
            top: 1%;
            left: 10%;
            position: absolute;
            margin-top: 10% !important;
            background-color: rgba(255, 0, 251, 0.131);
            padding: 5vw;
            border-radius: 3vw;
            width: 70%;
            z-index: 10 !important;
        }

        .dashboardHolderSelected {
            top: 1%;
            left: 10%;
            position: absolute;
            margin-top: 10% !important;
            background-color: rgba(255, 0, 251, 0.131);
            padding: 5vw;
            border-radius: 3vw;
            width: 70%;
            z-index: 10 !important;
            display: flex;
            transition: all .5s ease-in-out;

            .isSelected {
                background-color: rgba(90, 221, 24, 0.131);
                color: lavenderblush;
            }

        }

        li {
            margin: 2vw;
            position: relative;
            text-align: left;
            border-radius: 10px;
            padding: 12px;
            transition: all .3s ease-in-out;

            &:hover {
                cursor: pointer;
                background-color: #3651d42e;
                text-align: center;
                color: rgba(101, 223, 93, 0.949);
            }

        }

        .RemoveStd {
            color: red;

            &:hover {
                background-color: #ff00002e;
                color: fuchsia;
            }

        }
    }

    .returnTOHomeMainPage {
        text-align: center;
        z-index: 1000 !important;
    }
</style>

@if (librarian.canLogin)
{

    <body>
    <h1>Librarian Dashboard</h1>
    <br>
    <h3>welcome @librarian.LibrarianId</h3>
    <div class="wrapper">
        <ul type="circle" class="@isStyleSelected">
            <li @onclick="addBook" class="addBook">Add book</li>
            <li @onclick="removeBook" class="removeBook ">Remove book</li>
            <li @onclick="searchBook" class="searchBook ">Search book</li>
            <li @onclick="viewStudents" class="viewStudents ">View Students</li>
            <li @onclick="editStudentsDetails" class="editStudentsDetails ">Edit Students Details</li>
            <li class="RemoveStd">Remove Students</li>
        </ul>
    </div>
    <script src="/_framework/aspnetcore-browser-refresh.js"></script>
</body>
}
else
{
    <h1 class="returnTOHomeMainPage"> <a href="/LibrarianLogin">Return to Login Page</a> </h1>
}

@code {
    private string isStyleSelected = "dashboardHolder";

    private void addBook()
    {
        librarian.canLogin = true;
        isStyleSelected = "dashboardHolderSelected";
    }
    private void removeBook()
    {
        librarian.canLogin = true;
        isStyleSelected = "dashboardHolderSelected";


    }
    private void searchBook()
    {
        librarian.canLogin = true;
        isStyleSelected = "dashboardHolderSelected";


    }
    private void viewStudents()
    {
        librarian.canLogin = true;
        isStyleSelected = "dashboardHolderSelected";



    }
    private void editStudentsDetails()
    {
        librarian.canLogin = true;
        isStyleSelected = "dashboardHolderSelected";


    }


}