@page "/LibrarianLogin"

@using LibaryManagementSystem.Services
@inject NavigationManager Navigation


<head>
    <title>LibrarianLogin</title>
    <link rel="stylesheet" href="css/Login.css">
</head>
<style>
    a {
        position: absolute;
        top: 10%;
        left: 10%;
        color: aliceblue;
    }

    h1 {
        text-align: center;
        position: absolute;
        top: 10%;
        left: 39%;
    }
</style>

<a href="/">BACK</a>

<h1>Librarian Login Page</h1>
<main class="container">
    <h2>Login</h2>
    <form action="">
        <div class="input-field">
            <input type="text" name="username" id="username" placeholder="Enter Your Username" @bind="username">
            <div class="underline"></div>
        </div>
        <div class="input-field">
            <input type="password" name="password" id="password" placeholder="Enter Your Password" @bind="password">
            <div class="underline"></div>
        </div>

        <input type="submit" value="Continue" @onclick="HandleLogin">
    </form>
</main>
@code {
    private string username = string.Empty;
    private string password = string.Empty;
    private bool loginFailed = false;
    private List<LibaryManagementSystem.Services.Librarian> Librarian = new
    List<LibaryManagementSystem.Services.Librarian>();
    private void HandleLogin()
    {
        @* if(username!=Services.Librarian) *@
        var user = Services.Librarian.users.Where(y => y.LibrarianId == username && y.LibrarianPassword ==
        password);
        if (user != null)
        {
            Navigation.NavigateTo("/LibrarianDashboard");
        }

    }
}