@page "/StudentLogin"


<head>
    <title>StudentsLogin</title>
    <link rel="stylesheet" href="css/Login.css">
</head>
<style>
    a {
        position: absolute;
        top: 10%;
        left: 10%;
        color: aliceblue;
    }

    h1 {
        text-align: center;
        position: absolute;
        top: 10%;
        left: 39%;
    }
</style>

<a href="/">BACK</a>

<h1>Students Login Page</h1>
<main class="container">
    <h2>Login</h2>
    <form action="">
        <div class="input-field">
            <input type="text" name="username" id="username" placeholder="Enter Your Username">
            <div class="underline"></div>
        </div>
        <div class="input-field">
            <input type="password" name="password" id="password" placeholder="Enter Your Password">
            <div class="underline"></div>
        </div>

        <input type="submit" value="Continue">
    </form>


</main>