@page "/"

<style>
    body {
        background-color: black;
        color: aqua;
        text-align: center;
    }

    table,
    tr,
    th,
    td {
        border: 5px dotted rgba(35, 212, 97, 0.42);
        border-radius: 10px;
        text-align: center;
    }
</style>

<h1>Hello, world!</h1>
<table>
    <tr>
        <th>wee</th>
        <th>weee</th>
        <th>weeee</th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>

@code {
    @* private ShopDetails[] shops = *@
}
