@page "/"
@inject NavigationManager Navigation

<style>
    body {
        background-color: rgb(0, 0, 0);
        color: white;

        h1 {
            text-align: center;
        }

        .divider {
            display: flex;
            justify-content: center;
            width: 100%;
            height: 50vw;

        }

        .student {
            background-color: rgba(0, 85, 255, 0.312);
            height: 100%;
            width: 100%;
            background: url(assets/student.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: 0 30%;
            border-radius: 10px;
        }

        .librarian {
            background-color: rgba(28, 159, 44, 0.431);
            height: 100%;
            width: 100%;
            background: url(assets/library.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: 0 30%;
            border-radius: 10px;

        }
    }
</style>


<h1>Welcome to CCN Library service !!!</h1>


<div class="divider">
    <div class="student">
        <b>
            <h1><u>Students Section</u></h1>
        </b>
        <br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>
        <b>select if you are student</b>
        <button type="button" @onclick="GoToStudentLogin">STUDENT</button>
        @* <img src="assets/student.png" alt="studentPics"> *@
    </div>
    <div class="librarian">
        <b>
            <h1><u>librarian Section</u></h1>
        </b>
        <br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>
        <b>select if you are librarian</b>
        <button type="button" @onclick="GoToLibrarianLogin">librarian</button>
    </div>
</div>
@code {
    private void GoToStudentLogin()
    {
        Navigation.NavigateTo("/StudentLogin");
    }

    private void GoToLibrarianLogin()
    {
        Navigation.NavigateTo("/LibrarianLogin");
    }
}