@rendermode InteractiveServer

@using macOs.Applications.AppList
@inject macOs.Components.Layout.Dock DockComponent



<div class="finder-window" style="@($"top: {posY}px; left: {posX}px;")" @onmousemove="HandleMouseMove"
    @onmouseup="EndDrag">
    <div class="finder-header" @onmousedown="StartDrag">
        <div class="buttons" @onmousedown="StartDrag">
            <span class="close" @onclick="CloseSafari"></span>
            <span class="maximize" @onclick="ToggleMaximize"></span>
        </div>
        <span class="title">Safari</span>
    </div>
    <iframe src="https://www.adarashagaihre.com.np/"
        style="min-width: 80vw; min-height: 80vw; max-height: 100vw; max-width: 100vw; border: none;"></iframe>
</div>


@code {
    private double posX = 200, posY = 100;
    private double startX, startY;
    private bool isDragging = false;
    public bool closeSafari = false;
    public List<macOs.Applications.Application> getValue { get; set; } = new();

    private void StartDrag(MouseEventArgs e)
    {
        isDragging = true;
        startX = e.ClientX - posX;
        startY = e.ClientY - posY;
    }

    private void HandleMouseMove(MouseEventArgs e)
    {
        if (isDragging)
        {
            posX = e.ClientX - startX;
            posY = e.ClientY - startY;
        }
    }

    private void EndDrag()
    {
        isDragging = false;
    }

    public void CloseSafari()
    {
        Console.WriteLine("Attempting to close Safari...");
        Console.WriteLine($"Total Opened Apps: {DockComponent.OpenedApps.Count}");

        foreach (var app in DockComponent.OpenedApps)
        {
            Console.WriteLine($"Opened App: {app.ApplicationName}");
        }

        var safariApp = DockComponent.OpenedApps.FirstOrDefault(a => a.ApplicationName == "Safari");
        if (safariApp != null)
        {
            Console.WriteLine("Safari found! Closing...");
            DockComponent.CloseApp(safariApp);
        }
        else
        {
            Console.WriteLine("Safari not found in OpenedApps!");
        }
    }

    private void ToggleMaximize()
    {
        Console.WriteLine("SAfari Maximized/Restored");
    }
}