@page "/"

<style>
    body {
        background-color: blanchedalmond;

        h1 {
            text-align: center;
        }
    }
</style>


<h1>Hello,WELCOME to CCN ATM service!</h1>


@code {
    private string userId = string.Empty;
    private static List<OnlineATM.Index> listUser = new List<OnlineATM.Index>();
}